{% load thumbnail %}
{% for advert in page_obj %}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="{% url 'advert:advert_detail' category=advert.category.slug subcategory=advert.category.slug advert_id=advert.id%}">
      {% thumbnail advert.image "300" as im %}
        <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
      </a>
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'advert:advert_detail' category=advert.category.slug subcategory=advert.subcategory.slug advert_id=advert.id%}">
            <span style="color:black">{{ advert.title }}</span>
          </a>
        </h5>
        <p class="card-text">{{ advert.price }} RUB</p>
      </div>
    </div>
  </div>
{% empty %}
  <h3>Результаты не найдены.</h3>
{% endfor %}