{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}{{ advert.title }}{% endblock %}

{% block content %}
<div class="container">
  {% include 'advert/includes/horizontal_navigation.html' %}
  <div class="row">
    {% include 'advert/includes/category_navigation.html' %}
    <section class="col border-0 py-2">
  <div class="container">
    <div class="row">
      <div class="card h-100">
        {% thumbnail advert.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}>
        {% endthumbnail %}
        <div class="card-body">
          <h5 class="card-title">{{ advert.title }}</h5>
          <p class="card-text">{{ advert.description }}</p>
          <p class="card-text">Цена: {{ advert.price }} RUB</p>
          <p class="card-text">Контакты: {{ advert.phonenumber }}</p>
          <p class="card-text">{{ advert.pub_date }}</p>
          <a href="{% url 'advert:profile' username=advert.author.username %}">
            <p class="card-text"><span style="color:purple">Все объявления продавца {{ advert.author }}</span></p>
          </a>
        </div>
      </div>
    </div>
  {% if user == advert.author %}
  <a class="btn btn-secondary btn-sm" href="{% url 'advert:advert_edit' advert_id=advert.id %}">
    редактировать объявление
  </a>
  <a class="btn btn-secondary btn-sm" href="{% url 'advert:advert_delete' username=advert.author.username advert_id=advert.id %}">
    удалить объявление
  </a>
  {% endif %}
  {% include 'advert/comment.html' %}
 </div>   
{% endblock %}    