{% extends 'base.html' %}

{% block title %}{{ category }}{% endblock %}
      
{% block content %}
<div class="container">
  {% include 'advert/includes/horizontal_navigation.html' %}
  <div class="row">
    {% include 'advert/includes/category_navigation.html' %}
    <section class="col border-0 py-2">
    <div class="container">
      <div class="row">
        {% include 'advert/advert.html' %}
      </div>
    </div>
    {% include 'advert/includes/paginator.html' %}
  </div> 
</body>    
{% endblock %}  
