{% extends 'base.html' %}
{% block title %}Adv: Недвижимость, транспорт, вещи{% endblock %}
{% load rupluralize %}
{% load thumbnail %}
{% block content %}
<div class="container">
  {% include 'advert/includes/main_navigation.html' %}
  {% if query %}
      <h3>
        {% with results.count as total_results %}
          Найдено {{ total_results }} {{ total_results|pluralize:"объявление,объявления,объявлений" }}
        {% endwith %}
      </h3>
  <div class="row">
    {% include 'advert/advert.html' %}
  {% endif %}
  </div>
  <form action="{% url 'advert:index' %}" class="form-inline" method="get">
    <button type="submit" class="btn btn-secondary">Назад</button>
  </form>
</div> 
{% endblock %}        